@import "tailwindcss";



:root {
  --glass-bg: rgba(187, 187, 188, 0.037);
  --glass-bg-strong: rgba(187, 187, 188, 0.36);

  /* light reflex */
  --light-1: rgba(255, 255, 255, 0.1);
  --light-2: rgba(255, 255, 255, 0.1);
  --light-3: rgba(255, 255, 255, 0.496);
  --light-4: rgba(255, 255, 255, 0.314);

  /* dark depth */
  --dark-1: rgba(0, 0, 0, 0.08);
  --dark-2: rgba(0, 0, 0, 0.1);
  --dark-3: rgba(0, 0, 0, 0.12);
  --dark-4: rgba(0, 0, 0, 0.28);
}
@theme {
  --font-cabin: "cabin", sans-serif;
}

* {
  scrollbar-width: none;
}

@font-face {
  font-family: "cabin";
  src: url("../fonts/CabinetGrotesk-Regular.ttf");
  font-style: normal;
}

/*Glass styles*/

.outer-glass {
  background-color: var(--glass-bg);
  backdrop-filter: blur(8px) saturate(200%);
  box-shadow: inset 0 0 0 1px var(--light-1),
    inset 1.8px 3px 0px -2px var(--light-2),
    inset -2px -2px 0px -2px var(--light-3),
    inset -3px -8px 1px -6px var(--light-4),
    inset -0.3px -1px 4px 0px var(--dark-3),
    inset -1.5px 2.5px 0px -2px var(--dark-4),
    inset 0px 3px 4px -2px var(--dark-4),
    inset 2px -6.5px 1px -4px var(--dark-2), 0px 1px 5px 0px var(--dark-2),
    0px 6px 16px 0px var(--dark-1);
}
.inner-glass {
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1),
    inset 2px 1px 0px -1px rgba(255, 255, 255, 0.5),
    inset 1.5px 1px 0px 1px rgba(255, 255, 255, 0.1),
    inset -2px -6px 10px -5px rgba(255, 255, 255, 0.35),
    inset -1px 2px 3px -1px rgba(0, 0, 0, 0.2),
    inset 0px -4px 1px -2px rgba(0, 0, 0, 0.1),
    0px 3px 6px 0px rgba(0, 0, 0, 0.08);
}
.glass-style1 {
  /*background-color: var(--glass-bg);*/
  box-shadow: inset 0 0 0 1px var(--light-1),
    inset 1.8px 3px 0px -2px var(--light-2),
    inset -2px -2px 0px -2px var(--light-3),
    inset -3px 1px 1px -6px var(--light-4),
    inset -0.3px -1px 4px 0px var(--dark-3),
    inset -1.5px 2.5px 0px -2px var(--dark-4),
    inset 0px 3px 4px -2px var(--dark-4),
    inset 2px -6.5px 1px -4px var(--dark-2), 0px 1px 5px 0px var(--dark-2),
    0px 6px 16px 0px var(--dark-1);
}
.glass-style2 {
  /*background-color: var(--glass-bg);*/
  box-shadow: inset 0 0 0 1px var(--light-1),
    inset 1.8px 3px 0px -2px var(--light-2),
    inset -2px -2px 0px -2px var(--light-3),
    inset -3px -8px 1px -6px var(--light-4),
    inset -0.3px -1px 4px 0px var(--dark-3),
    inset -1.5px 2.5px 0px -2px var(--dark-4),
    inset 0px 3px 4px -2px var(--dark-4),
    inset 2px -6.5px 1px -4px var(--dark-2), 0px 1px 5px 0px var(--dark-2),
    0px 6px 16px 0px var(--dark-1);
}

.hero-glass{

  backdrop-filter: blur(10px) saturate(154%);
  box-shadow: inset 0 0 0 1px var(--light-1),
    inset 1.8px 3px 0px -2px var(--light-2),
    inset -2px -2px 0px -2px var(--light-3),
    inset -3px -8px 1px -6px var(--light-4),
    inset -0.3px -1px 4px 0px var(--dark-3),
    inset -1.5px 2.5px 0px -2px var(--dark-4),
    inset 0px 3px 4px -2px var(--dark-4),
    inset 2px -6.5px 1px -4px var(--dark-2), 0px 1px 5px 0px var(--dark-2),
    0px 6px 16px 0px var(--dark-1);
}

.glass-style3{
    background: rgba(255, 255, 255, 0.049); /* [2, 3] */
  backdrop-filter: blur(10px); /* [2, 4] */
  -webkit-backdrop-filter: blur(10px); /* برای پشتیبانی در مرورگر سافاری */ /* [4] */

  /* زیبایی‌های ظاهری */
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); /* [4] */
  border: 1px solid rgba(255, 255, 255, 0.18); /* [3, 4] */
  border-radius: 16px; /* [3] */

}